.mainContainer {
  display: flex;
  flex-direction: column;
  width: inherit;
  background: linear-gradient(180deg, #c1c1c1, #3f597e);
}

.headerContainer {
  padding: 20px;
  background-color: rgba(102, 102, 102, 0.8);
}

.translationContainer {
  flex-direction: column;
}

.translateOutputContainer,
.translateInputContainer {
  padding: 20px;
}

.imageSearchContainer {
  width: 80%;
  align-self: center;
  justify-content: center;
}
