.mainContainer {
  width: 92%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8%;
}

.outerContainer {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.suggestionsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.searchInput {
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: medium;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.searchInput:focus {
  outline: 1px solid var(--secondary-color);
}

/* Suggestions dropdown */
.suggestionsList {
  box-sizing: border-box;
  width: 60%;
  max-height: 200px;
  overflow-y: hidden;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  margin-top: 0;
  margin-left: 3%;
  border-radius: 0 0 4px 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
}

.suggestionsList li {
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.suggestionsList li:hover {
  background-color: #f5f5f5;
}

/* Adjust the position of the buttons */
.searchButton,
.clearButton {
  position: relative;
  top: 50%;
  transform: translateY(8%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  transition: transform 0.3s;
}

.searchButton:hover,
.clearButton:hover {
  transform: translateY(-7%) scale(1.1);
}

.searchButton:active,
.clearButton:active {
  transform: translateY(-10%) scale(0.95); /* Adjust the scaling factor as needed */
}

.searchButton {
  right: 83px;
  bottom: 3px;
}

.clearButton {
  right: 83px;
}
