/* NavBarLeft.module.css */
.mainContainer {
  height: 100%;
  width: max-content;
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20%;
  transition: transform 0.3s ease; /* Übergangseffekt für eine sanftere Veränderung */
  cursor: pointer; /* Standardmauszeiger beim Überfahren */
}

.logo:hover {
  transform: scale(1.15); /* Shrink the logo on hover */
}
.logo.shrink {
  transform: scale(0.85); /* Additional shrink effect when mouse is down */
}
