/* NavBarLeft.module.css */
.mainContainer {
  height: 100%;
  width: max-content;
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 0;
  transition: transform 0.3s ease; /* Übergangseffekt für eine sanftere Veränderung */
  cursor: pointer; /* Standardmauszeiger beim Überfahren */
}

.shrink {
  transform: scale(0.9); /* Verkleinert das Logo leicht */
}
