.bg {
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #000;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 360px;
  height: 800px;
}
.bg1 {
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: linear-gradient(
    180deg,
    rgba(41, 62, 142, 0.35),
    rgba(0, 170, 231, 0.35)
  );
  border: 1px solid #000;
  box-sizing: border-box;
  width: 360px;
  height: 800px;
}
.footerChild {
  position: absolute;
  height: 53.19%;
  width: 100%;
  top: 14.89%;
  right: 0%;
  bottom: 31.91%;
  left: 0%;
  border-radius: 10px 10px 0px 0px;
  background: linear-gradient(
    268.92deg,
    rgba(41, 62, 142, 0.42),
    rgba(6, 161, 227, 0.42)
  );
}
.iconCalendar {
  position: absolute;
  height: 34.04%;
  width: 8.42%;
  top: 26.6%;
  right: 54.92%;
  bottom: 39.36%;
  left: 36.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.25;
}
.iconEditPencil {
  width: 32px;
  position: relative;
  height: 32px;
  cursor: pointer;
}
.iconCalendar1 {
  width: 30.3px;
  position: relative;
  height: 32px;
  cursor: pointer;
}
.iconBell {
  width: 28.8px;
  position: relative;
  height: 32px;
  cursor: pointer;
}
.iconEditPencilParent {
  position: absolute;
  top: 0px;
  left: 0px;
  filter: drop-shadow(3px 3px 1.5px rgba(0, 0, 0, 0.25));
  width: 360px;
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.footer {
  position: absolute;
  top: 599px;
  left: 0px;
  box-shadow: 3px 3px 1.5px rgba(0, 0, 0, 0.25),
    3px 3px 1.5px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: 360px;
  height: 94px;
  overflow: hidden;
}
.bgChild {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 10px 10px 0px 0px;
  background-color: #3c4c6c;
  border: 2px solid #000;
  box-sizing: border-box;
  width: 300px;
  height: 468.2px;
}
.logoNobg1Icon {
  position: absolute;
  top: 122.35px;
  left: 0px;
  width: 300px;
  height: 277.2px;
  object-fit: cover;
  display: none;
  opacity: 0.2;
  mix-blend-mode: color-burn;
}
.bg2 {
  position: absolute;
  top: 1.81px;
  left: 0px;
  width: 300px;
  height: 468.2px;
}
.redgreenIndicatesUnavailab {
  margin: 0;
}
.redgreenIndicatesUnavailabContainer1 {
  width: 100%;
}
.redgreenIndicatesUnavailabContainer {
  position: absolute;
  top: 422px;
  left: 17px;
  font-size: 10px;
  display: flex;
  align-items: center;
  width: 267px;
  height: 35px;
  opacity: 0.7;
}
.suggestRaidButtonChild {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 0px 0px 10px 0px;
  background-color: #3c4c6c;
  border: 2px solid #000;
  box-sizing: border-box;
  width: 150px;
  height: 67.1px;
}
.suggestRaid {
  position: absolute;
  top: 24px;
  left: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 20px;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.suggestRaidButton {
  position: absolute;
  top: 0px;
  left: 150px;
  width: 150px;
  height: 67.1px;
  cursor: pointer;
}
.setAvailabilityButtonChild {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 0px 0px 0px 10px;
  background-color: #3c4c6c;
  border: 2px solid #000;
  box-sizing: border-box;
  width: 150px;
  height: 67.1px;
}
.setAvailabilityTxtContainer {
  line-break: anywhere;
  width: 100%;
}
.setAvailability {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  width: 150px;
  height: 67px;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.setAvailabilityButton {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 150px;
  height: 67.1px;
  cursor: pointer;
}
.buttons {
  position: absolute;
  top: 470px;
  left: 0px;
  width: 300px;
  height: 67.1px;
}
.div {
  position: absolute;
  top: 229.45px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 20.5px;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.div1 {
  position: absolute;
  top: 204.34px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 20.5px;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.div2 {
  position: absolute;
  top: 179.22px;
  left: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 20.5px;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.div3 {
  position: absolute;
  top: 152.97px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 20.5px;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.div4 {
  position: absolute;
  top: 127.85px;
  left: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 20.5px;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.div5 {
  position: absolute;
  top: 101.6px;
  left: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 20.5px;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.div6 {
  position: absolute;
  top: 76.48px;
  left: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 20.5px;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.div7 {
  position: absolute;
  top: 51.37px;
  left: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 20.5px;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.div8 {
  position: absolute;
  top: 25.11px;
  left: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 20.5px;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.div9 {
  position: absolute;
  top: 0px;
  left: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 20.5px;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.time {
  width: 19px;
  position: relative;
  height: 250px;
}
.timewindowChild {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #9a3535;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 25.8px;
  height: 25px;
}
.timewindowItem {
  position: absolute;
  top: 25px;
  left: 0px;
  background-color: #9a3535;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 25.8px;
  height: 25px;
}
.timewindowInner {
  position: absolute;
  top: 50px;
  left: 0px;
  background-color: #9a3535;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 25.8px;
  height: 25px;
}
.rectangleDiv {
  position: absolute;
  top: 75px;
  left: 0px;
  background-color: #9a3535;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 25.8px;
  height: 25px;
}
.timewindowChild1 {
  position: absolute;
  top: 100px;
  left: 0px;
  background-color: #9a3535;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 25.8px;
  height: 25px;
}
.timewindowChild2 {
  position: absolute;
  top: 125px;
  left: 0px;
  background-color: #4f9a35;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 25.8px;
  height: 25px;
}
.timewindowChild3 {
  position: absolute;
  top: 150px;
  left: 0px;
  background-color: #4f9a35;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 25.8px;
  height: 25px;
}
.timewindowChild4 {
  position: absolute;
  top: 175px;
  left: 0px;
  background-color: #4f9a35;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 25.8px;
  height: 25px;
}
.timewindowChild5 {
  position: absolute;
  top: 200px;
  left: 0px;
  background-color: #9a3535;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 25.8px;
  height: 25px;
}
.timewindowChild6 {
  position: absolute;
  top: 225px;
  left: 0px;
  background-color: #9a3535;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 25.8px;
  height: 25px;
}
.timewindow {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25.8px;
  height: 250px;
}
.timewindowChild9 {
  position: absolute;
  top: 50px;
  left: 0px;
  background-color: #4f9a35;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 25.8px;
  height: 25px;
}
.timewindowChild10 {
  position: absolute;
  top: 75px;
  left: 0px;
  background-color: #4f9a35;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 25.8px;
  height: 25px;
}
.timewindowChild11 {
  position: absolute;
  top: 100px;
  left: 0px;
  background-color: #4f9a35;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 25.8px;
  height: 25px;
}
.timewindowChild15 {
  position: absolute;
  top: 200px;
  left: 0px;
  background-color: #4f9a35;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 25.8px;
  height: 25px;
}
.timewindow1 {
  position: absolute;
  top: 0px;
  left: 32.02px;
  width: 25.8px;
  height: 250px;
}
.timewindow2 {
  position: absolute;
  top: 0px;
  left: 64.05px;
  width: 25.8px;
  height: 250px;
}
.timewindowChild36 {
  position: absolute;
  top: 225px;
  left: 0px;
  background-color: #4f9a35;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 25.8px;
  height: 25px;
}
.timewindow3 {
  position: absolute;
  top: 0px;
  left: 96.07px;
  width: 25.8px;
  height: 250px;
}
.timewindow4 {
  position: absolute;
  top: 0px;
  left: 128.1px;
  width: 25.8px;
  height: 250px;
}
.timewindow5 {
  position: absolute;
  top: 0px;
  left: 160.12px;
  width: 25.8px;
  height: 250px;
}
.timewindowChild57 {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #4f9a35;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 25.8px;
  height: 25px;
}
.timewindowChild58 {
  position: absolute;
  top: 25px;
  left: 0px;
  background-color: #4f9a35;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 25.8px;
  height: 25px;
}
.timewindow6 {
  position: absolute;
  top: 0px;
  left: 192.15px;
  width: 25.8px;
  height: 250px;
}
.timewindow7 {
  position: absolute;
  top: 0px;
  left: 224.17px;
  width: 25.8px;
  height: 250px;
}
.timewindowParent {
  width: 250px;
  position: relative;
  height: 250px;
}
.cells {
  position: absolute;
  top: 27px;
  left: 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
}
.youChild {
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  background-color: #d9d9d9;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 21px;
  height: 21px;
}
.you1 {
  position: absolute;
  top: 28px;
  left: -13px;
  display: none;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 15px;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.image9Icon {
  position: absolute;
  top: 2px;
  left: 4px;
  width: 14px;
  height: 14px;
  object-fit: cover;
}
.you {
  width: 21px;
  position: relative;
  height: 21px;
}
.duckChild {
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  background-color: #0ad467;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 21px;
  height: 21px;
}
.duck1 {
  position: absolute;
  top: -19px;
  left: -13px;
  display: none;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 15px;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.image10Icon {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  object-fit: cover;
}
.image3Icon {
  position: absolute;
  top: 2px;
  left: 3px;
  width: 16px;
  height: 16px;
  object-fit: cover;
}
.cat1 {
  position: absolute;
  top: 27px;
  left: -13px;
  display: none;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 15px;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.bear1 {
  position: absolute;
  top: -20px;
  left: -13px;
  display: none;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 15px;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.monkeyChild {
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  background-color: #c80000;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 21px;
  height: 21px;
}
.image5Icon {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 16px;
  height: 16px;
  object-fit: cover;
}
.youParent {
  position: absolute;
  top: 0px;
  left: 28px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 11px;
  font-size: 12px;
}
.widgetContent {
  position: absolute;
  top: 145px;
  left: 11px;
  width: 275px;
  height: 277px;
  font-size: 15px;
}
.infoChild {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #3c4c6c;
  border: 2px solid #000;
  box-sizing: border-box;
  width: 300px;
  height: 80px;
}
.startingTime {
  width: 100px;
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
  flex-shrink: 0;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.availableRaidhours {
  width: 100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  flex-shrink: 0;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.div10 {
  width: 100px;
  position: relative;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  flex-shrink: 0;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.startingTimeParent {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 78px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.users {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 300px;
  height: 78px;
}
.highlightWindows {
  position: absolute;
  top: 250px;
  left: 35px;
  background-color: rgba(217, 217, 217, 0);
  border: 2px dashed #35fff3;
  box-sizing: border-box;
  width: 252px;
  height: 85.3px;
  display: none;
}
.info {
  position: absolute;
  top: 58px;
  left: 0px;
  width: 300px;
  height: 80px;
  font-size: 13px;
}
.headerChild {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 10px 10px 0px 0px;
  background-color: #3c4c6c;
  border: 2px solid #000;
  box-sizing: border-box;
  width: 300px;
  height: 60px;
}
.frameChild {
  width: 28px;
  position: relative;
  height: 0px;
}
.monday06052024 {
  width: 195px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12px;
  flex-shrink: 0;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.vectorParent {
  position: absolute;
  top: 28px;
  left: 0px;
  width: 300px;
  height: 19px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1px;
}
.availableTimewindow {
  position: absolute;
  top: 2px;
  left: 53px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 195px;
  height: 29px;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 60px;
}
.availableTimeWidget {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 537.1px;
}
.content {
  position: absolute;
  top: 61px;
  left: 30px;
  width: 300px;
  height: 537.1px;
}
.headerItem {
  position: absolute;
  height: 65.79%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 34.21%;
  left: 0%;
  border-radius: 0px 0px 10px 10px;
  background: linear-gradient(
    268.92deg,
    rgba(6, 161, 227, 0.42),
    rgba(41, 62, 142, 0.42)
  );
}
.logoNobg2Icon {
  width: 49.3px;
  position: relative;
  height: 50px;
  object-fit: cover;
}
.iconLogIn {
  width: 24.9px;
  position: relative;
  height: 32px;
  object-fit: contain;
  cursor: pointer;
}
.logoNobg2Parent {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 150px;
}
.header1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 76px;
}
.availability {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 664px;
  overflow: hidden;
  text-align: center;
  font-size: 12px;
  color: #fff;
  font-family: Inter;
}
