.bg {
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #000;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 360px;
  height: 800px;
}
.bg1 {
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: linear-gradient(
    180deg,
    rgba(41, 62, 142, 0.35),
    rgba(0, 170, 231, 0.35)
  );
  border: 1px solid #000;
  box-sizing: border-box;
  width: 360px;
  height: 800px;
}
.footerChild {
  position: absolute;
  height: 53.19%;
  width: 100%;
  top: 14.89%;
  right: 0%;
  bottom: 31.91%;
  left: 0%;
  border-radius: 10px 10px 0px 0px;
  background: linear-gradient(
    268.92deg,
    rgba(41, 62, 142, 0.42),
    rgba(6, 161, 227, 0.42)
  );
}
.iconEditPencil {
  width: 32px;
  position: relative;
  height: 32px;
  cursor: pointer;
}
.iconCalendar {
  width: 30.3px;
  position: relative;
  height: 32px;
  cursor: pointer;
}
.iconBell {
  width: 28.8px;
  position: relative;
  height: 32px;
  cursor: pointer;
}
.iconEditPencilParent {
  position: absolute;
  top: 0px;
  left: 0px;
  filter: drop-shadow(3px 3px 1.5px rgba(0, 0, 0, 0.25));
  width: 360px;
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.footer {
  position: absolute;
  top: 599px;
  left: 0px;
  border-radius: 8px;
  width: 360px;
  height: 94px;
  overflow: hidden;
}
.bgChild {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 10px 10px 0px 0px;
  background-color: #3c4c6c;
  border: 2px solid #000;
  box-sizing: border-box;
  width: 300px;
  height: 472.6px;
}
.logoNobg1Icon {
  position: absolute;
  top: 123.51px;
  left: 0px;
  border-radius: 10px;
  width: 300px;
  height: 279.9px;
  object-fit: cover;
  opacity: 0.2;
  mix-blend-mode: color-burn;
}
.bg2 {
  position: absolute;
  top: 1.71px;
  left: 0px;
  width: 300px;
  height: 472.6px;
}
.answerChild {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 0px 0px 0px 10px;
  background-color: #3c4c6c;
  border: 2px solid #000;
  box-sizing: border-box;
  width: 150px;
  height: 63.6px;
  cursor: pointer;
}
.answerItem {
  position: absolute;
  top: 0px;
  left: 150px;
  border-radius: 0px 0px 10px 0px;
  background-color: #3c4c6c;
  border: 2px solid #000;
  box-sizing: border-box;
  width: 150px;
  height: 63.6px;
  cursor: pointer;
}
.login {
  position: absolute;
  top: 22.77px;
  left: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 19px;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.register1 {
  position: absolute;
  top: 22.9px;
  left: 199px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 19.1px;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.answer {
  position: absolute;
  top: 473.38px;
  left: 0px;
  width: 300px;
  height: 63.6px;
}
.iconGoogleCircled {
  width: 32px;
  position: relative;
  height: 32px;
}
.iconDiscord {
  width: 36.1px;
  position: relative;
  height: 27.9px;
}
.icons {
  position: absolute;
  top: calc(50% - 5.7px);
  left: calc(50% - 99.05px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 22px;
  opacity: 0.8;
}
.externalLogin1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 220px;
  height: 67.4px;
}
.registerThrough {
  position: absolute;
  top: 3.79px;
  left: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 103px;
  height: 15.2px;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.externalLogin {
  position: absolute;
  top: 284.6px;
  left: 20px;
  width: 220px;
  height: 67.4px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
}
.emailAndPwChild {
  position: absolute;
  top: 32.25px;
  left: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
  background-color: #d9d9d9;
  width: 250px;
  height: 37.9px;
}
.emailAndPwItem {
  position: absolute;
  top: 223.88px;
  left: 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
  background-color: #d9d9d9;
  width: 250px;
  height: 37.9px;
}
.email {
  position: absolute;
  top: 0px;
  left: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 51px;
  height: 22.8px;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.repeatPassword {
  position: absolute;
  top: 191.63px;
  left: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 165px;
  height: 22.8px;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.emailAndPwInner {
  position: absolute;
  top: 127.12px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
  background-color: #d9d9d9;
  width: 250px;
  height: 37.9px;
}
.password {
  position: absolute;
  top: 96.76px;
  left: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 93px;
  height: 22.8px;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.basileyeClosedSolidIcon {
  position: absolute;
  top: 134.24px;
  left: 211px;
  width: 25.3px;
  height: 24px;
  overflow: hidden;
}
.basileyeClosedSolidIcon1 {
  position: absolute;
  top: 230.24px;
  left: 211px;
  width: 25.3px;
  height: 24px;
  overflow: hidden;
}
.emailAndPw {
  position: absolute;
  top: 96.76px;
  left: 19px;
  width: 256px;
  height: 352px;
  font-size: 20px;
}
.headerChild {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 10px 10px 0px 0px;
  background-color: #3c4c6c;
  border: 2px solid #000;
  box-sizing: border-box;
  width: 300px;
  height: 71.1px;
}
.register2 {
  position: absolute;
  top: 20.87px;
  left: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 28.5px;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 71.1px;
  font-size: 24px;
}
.loginContent {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 537px;
}
.content {
  position: absolute;
  top: 61px;
  left: 30px;
  width: 300px;
  height: 537px;
}
.headerItem {
  position: absolute;
  height: 65.79%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 34.21%;
  left: 0%;
  border-radius: 0px 0px 10px 10px;
  background: linear-gradient(
    268.92deg,
    rgba(6, 161, 227, 0.42),
    rgba(41, 62, 142, 0.42)
  );
}
.iconLogIn {
  position: absolute;
  height: 42.11%;
  width: 6.92%;
  top: 14.47%;
  right: 18.33%;
  bottom: 43.42%;
  left: 74.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  opacity: 0.5;
  cursor: pointer;
}
.logoNobg2Icon {
  width: 49.3px;
  position: relative;
  height: 50px;
  object-fit: cover;
}
.iconLogIn1 {
  width: 24.9px;
  position: relative;
  height: 32px;
  object-fit: contain;
}
.logoNobg2Parent {
  position: absolute;
  top: -0.01px;
  left: 0px;
  width: 360px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 150px;
}
.header1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 76px;
}
.register {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 664px;
  overflow: hidden;
  text-align: center;
  font-size: 12px;
  color: #fff;
  font-family: Inter;
}
