.mainContainer {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 2px 4px grey;
  position: fixed;
  width: 100vw;
  min-height: 50px;
  top: 0;
  z-index: 10;
}

.spacer {
  flex: 1;
  display: none;
}
@media screen and (min-width: 320px) {
  .mainContainer {
    height: 52px;
    flex-direction: row;
  }
  .spacer {
    display: block;
  }
}
