.mainContainer {
  height: 100%;
  width: max-content;
  display: flex;
  align-items: last baseline;
  flex-direction: column;
  margin-top: 8px;
  margin-bottom: 30px;
}

.buttonContainer {
  margin-left: 30px;
}
.buttonContainerlogin {
  display: flex;
  flex-direction: row;
}

.spacer {
  width: 17px;
  height: 8px;
}
.spacermiddle {
  width: 100px;
  height: 8px;
}

.marginright {
  width: 50px;
}
.logImg {
  width: 50px;
  border-radius: 16px;
}
@media screen and (min-width: 320px) {
  .mainContainer {
    flex-direction: row;
    margin-top: 0px;
  }
}
.username {
  width: 100px;
  height: 25px;
  border-radius: 8px;
}

.password {
  width: 100px;
  height: 25px;
  border-radius: 8px;
}
