.container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(36, 36, 36, 0.8);
}

.popup {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 16px;
  border-radius: 16px;
  background-color: var(--primary-color);
  box-shadow: 2px 4px 8px rgb(176, 176, 176);
}

.popup h2 {
  color: var(--background-color);
  font-size: 24px;
  margin: 0 auto 16px;
  text-align: center;
}

.popup input {
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: none;
}

.popup button {
  width: 100%;
  padding: 12px 24px;
  border: 4px solid;
  border-radius: 8px;
  border-color: rgba(255, 255, 255, 0.95);
  background-color: var(--background-color);
  color: white;
  font-weight: bold;
  cursor: pointer;

  transition: background-color 0.3s; /* Animiere Farbänderungen */

  &:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
  }
}

.registerMessage {
  margin-top: 10px;
  padding: 5px;
  align-self: center;
  font-size: auto;
  max-width: 160px;
  max-height: 190px;
  color: white;
  text-shadow: 1px 1px 1px black;
  border-radius: 8px;
}
