.mainContainer {
  border-radius: 8px;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.75);
  background-color: var(--background-color);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
  font-size: medium;
  font-weight: 400;
  position: relative;
  padding: 5px;
}
.headerUnderline {
  height: 2px;
  background-color: white;
  margin-top: 5px;
  width: 100%;
}

.imagecontainer {
  display: flex;
  overflow: auto;
  align-items: first start;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 3%;
}

.img img {
  flex: 1 1 25%;
  margin-bottom: 10px;
  border-radius: 16px;
  width: auto;
  cursor: pointer;
  object-fit: cover; /* Alle Bilder werden proportional skaliert */
  margin: 20px;
  transition: box-shadow 0.3s ease;
}

.imagecontainer img:hover {
  box-shadow: 6px 6px 8px 0px rgba(255, 255, 255, 0.75);
}
